<html>
<head>
    <title>User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-default">
    </nav>  
    <div class="container">
      <div class="row">
        <h1 style="text-align:center;">Welcome To User Page</h1>
      </div>  
    </div>  
</body>
</html>